hr {
  background-color: $grey-3;
  border: 0;
  height: $baseline-grid-unit;
  text-align: left;
  width: 130px;

  .callout__alert & {
    background-color: $grey-2;
  }

  .callout__severe & {
    background-color: $white;
  }
}
