// scss-lint:disable NestingDepth

$_chevron-padding: $default-spacing-unit * 2;

ul {
  @include core-font(20);
  list-style: disc outside;
  padding-left: 1em;
}

ol {
  @include core-font(20);
  list-style: decimal outside;
  padding-left: 1em;

  @include ie-lte(7) {
    padding-left: 1.5em;
  }

  li {
    padding-left: .2em;
  }
}

dl {
  @include core-font(20);
}

.local-header,
.page-section,
.global-footer {
  li {
    + li {
      margin-top: $baseline-grid-unit * 2;
    }

    > ul,
    > ol,
    > dl {
      margin-top: $baseline-grid-unit * 2;
    }
  }
}

.list__chevron {
  list-style: none;
  padding-left: $_chevron-padding;

  @include ie-lte(7) {
    list-style: disc;
    padding-left: 1em;
  }

  li {
    position: relative;

    &:before,
    &:after {
      border-style: solid;
      content: "";
      display: block;
      height: 0;
      position: absolute;
      top: 6px;
      width: 0;
    }

    &:before {
      border-color: transparent transparent transparent $grey-1;
      border-width: 10px 0 10px 10px;
      left: -$_chevron-padding;

      // variations for different coloured backgrounds
      .callout__warning & {
        border-left-color: $black;
      }

      .callout__severe & {
        border-left-color: $white;
      }
    }

    &:after {
      border-color: transparent transparent transparent $white;
      border-width: 10px 0 10px 10px;
      left: -($_chevron-padding + 6px);

      // variations for different coloured backgrounds
      .callout__info &,
      .panel & {
        border-left-color: $grey-4;
      }

      .callout__warning & {
        border-left-color: tint($yellow, 20%);
      }

      .callout__alert & {
        border-left-color: $red-10;
      }

      .callout__severe & {
        border-left-color: $red;
      }
    }
  }
}
