ul {
  @include core-font(20);
  list-style: disc outside;
  padding-left: 1em;
}

ol {
  @include core-font(20);
  list-style: decimal outside;
  padding-left: 1em;

  li {
    padding-left: .2em;
  }
}

dl {
  @include core-font(20);
}

.local-header,
.page-section {
  li {
    margin-top: $baseline-grid-unit * 2;
  }
}
