.callout {
  @include element-padding;
  background-color: $white;
}

  .callout--inner {
    @extend %site-width-container;
  }

.callout__full-width {
  background-color: $light-blue;
  color: $white;
  padding-left: 0;
  padding-right: 0;
}

.callout__alert {
  background-color: $red;
  color: $white;

  a {
    @extend %link__reverse-polarity;
  }
}

.callout__info {
  border: ($baseline-grid-unit * 3) solid tint($light-blue, 25%);
}

.callout__warning {
  background-color: tint($yellow, 20%);
}

.callout__error {
  border: $baseline-grid-unit solid $red;
}

.callout__overlap {
  @include media(desktop) {
    @include background-clip(padding-box);
    position: relative;
    top: -($baseline-grid-unit * 16);

    &.callout__alert {
      border-top: ($baseline-grid-unit * 8) solid rgba($red, .9);
      padding-top: 0;

      @include ie-lte(8) {
        border-top: ($baseline-grid-unit * 8) solid $red;
      }
    }
  }
}
