.callout {
  margin: ($baseline-grid-unit * 4) 0;
  padding: ($baseline-grid-unit * 4);

  @include media(tablet) {
    margin: ($baseline-grid-unit * 8) 0;
    padding: ($baseline-grid-unit * 8);
  }
}

  .callout--inner {
    @extend %site-width-container;
  }

.callout__111 {
  background-color: $light-blue;
  color: $white;
  margin-bottom: 0;

  @include media(tablet) {
    padding-left: 0;
    padding-right: 0;
  }
}

.callout__emergency {
  background-color: $red;
  color: $white;
}

.callout__gp {
  border: ($baseline-grid-unit * 3) solid tint($light-blue, 25%);
}
