.global-header {
  background-color: $nhs-blue;
}

.global-header--inner {
  @extend %content-block;
  padding: ($baseline-grid-unit * 6) 0;
}

.global-header--link {
  background: url("/images/logotype-nhs-colour.png") no-repeat;
  background-size: contain;
  display: block;
  height: 32px;
  text-indent: -999em;
  width: 79px;
}
