.local-header {
  background-color: $nhs-blue;
  border-top: 1px solid tint($nhs-blue, 80%);
}

.local-header--inner {
  @extend %site-width-container;
}

.local-header--title {
  color: $white;
}

.local-header--intro {
  color: $white;
}
