.local-header {
  background-color: $nhs-blue;
  border-top: 1px solid tint($nhs-blue, 20%);

  // the lobotomized owl
  // see: http://alistapart.com/article/axiomatic-css-and-lobotomized-owls
  * + * {
    @include element-spacing;
  }
}

  .local-header--inner {
    @extend %site-width-container;
    padding-bottom: $baseline-grid-unit * 4;
    padding-top: $baseline-grid-unit * 8;

    @include media(tablet) {
      padding-bottom: $baseline-grid-unit * 4;
      padding-top: $baseline-grid-unit * 16;
    }

    @include media(desktop) {
      padding-bottom: $baseline-grid-unit * 8;
      padding-top: $baseline-grid-unit * 32;
    }
  }

  .local-header--title {
    color: $white;
    margin: 0;
  }

  .local-header--intro {
    color: $white;
    margin-top: $baseline-grid-unit * 4;
    max-width: $measure;
  }
