.media__container {
  @extend %clearfix;

  & + * {
    margin-top: 0;
  }
}

.media {
  position: relative;
  vertical-align: top;

  @include media(tablet) {
    max-width: 40em;
  }

  .media__container & {
    @include element-spacing(bottom);

    @include media(tablet) {
      float: left;
      margin-top: 0;
      max-width: 300px;

      // only apply margins to siblings
      & + .media {
        margin-left: $default-spacing-unit;
      }

      &.media--full-width {
        max-width: 40em;
      }
    }
  }
}

.media__caption {
  background-color: tint($blue, 80%);
  margin-top: 0;
  padding: $default-spacing-unit;
}
