.panel {
  background-color: $grey-4;
}

  .panel__content {
    @include element-padding;
  }

  .panel__footer {
    @include element-padding;
    background-color: $grey-3;

    * + & {
      margin-top: 0;
    }
  }
