.section-unit {
  @include element-padding(bottom);
  position: relative;

  &:after {
    background-color: $grey-3;
    bottom: -($baseline-grid-unit / 2);
    content: "";
    display: block;
    height: $baseline-grid-unit;
    left: 0;
    position: absolute;
    width: 130px;
  }

  &:last-child {
    padding-bottom: 0;

    &:after {
      display: none;
    }
  }
}
