// scss-lint:disable SingleLinePerSelector
html, body, button, input, table, td, th {
  font-family: $nhs-font-stack;
}

html {
  background-color: $light-grey;
}

body {
  background-color: $white;
}
