$blue: #0072c6;
$dark-blue: #003893;
$light-blue: #0091c9;

$black: #000;
$dark-grey: #425563;
$mid-grey: #768692;
$light-grey: #d9e1e2;
$white: #fff;

$green: #009e49;
$light-green: #5bbf21;
$aqua-green: #00adc6;

$red: #d81e05;

$yellow: #ffb81c;
$light-yellow: #ffe799;

// semantic colour names
$nhs-blue: $blue;
$emergency-services-red: $red;
