{
  "extends": "airbnb-base",
  "rules": {
    "arrow-body-style": [2, "always"],
    "import/no-extraneous-dependencies": 0,
    "no-prototype-builtins": 0,
    "no-underscore-dangle": 0,
    "prefer-spread": 0
  }
}
