@import "normalize.css/normalize";
@import "nhsuk-frontend/dist/scss/environment/settings";
@import "environment/settings";
@import "nhsuk-frontend/dist/scss/environment/tools";
@import "nhsuk-frontend/dist/scss/environment/generic";

@import "nhsuk-frontend/dist/scss/units";
@import "nhsuk-frontend/dist/scss/objects";

@import "nhsuk-frontend/dist/scss/components/global-header";
@import "nhsuk-frontend/dist/scss/components/global-footer";
@import "nhsuk-frontend/dist/scss/components/notification-banner";
@import "nhsuk-frontend/dist/scss/components/skiplinks";
@import "nhsuk-frontend/dist/scss/components/local-header";
@import "nhsuk-frontend/dist/scss/components/button";
@import "nhsuk-frontend/dist/scss/components/link-list";

// NHS.UK components
@import "components/article-pagination";
@import "components/callout";
@import "components/media";
@import "components/gallery";
@import "components/form-label";
@import "components/form-textbox";
@import "components/form-multiple-choice";
@import "components/inline-list";
@import "components/meta";
@import "components/panel";
@import "components/step-list";
@import "components/tabs";
@import "components/error";
@import "components/link-list";
