{
  "env": {
    "mocha": true
  },
  "globals": {
    "appFolder": true,
    "rootFolder": true,
    "should": true,
    "sinon": true,
    "proxyquire": true
  },
  "rules": {
    "no-unused-expressions": 0
  }
}
